body {
    overflow: hidden;
}
body::-webkit-scrollbar {
    display: none;
}


div.navbar-fixed nav .nav-wrapper {
    margin-left: 8.5em;
    margin-right: 8.5em;
}
div.navbar-fixed nav .nav-wrapper a.brand-logo {
    padding: .1em !important;
}
div.navbar-fixed nav .nav-wrapper a.brand-logo img {
    height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin: .4em;
    float: left;
}
div.navbar-fixed nav .nav-wrapper a.brand-logo p {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Overpass Mono';
}

#page .col {
    height: calc(100vh - 50px);
}